@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar { 
    display: none;
}
body, html{
    width: 100vw;
    height: 100vh;
    background-color: blue;
}

header{
    background-color: rgb(206, 205, 205);
    padding: 20px;
}
header h1{
    text-align: center;
    margin: 10px auto 30px auto;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgb(42, 114, 246);
}

main{
    background-color: white;
    max-width: 1800px;
    margin: 10px auto; 
    padding: 20px;
}
main p{
    text-align: justify;
}

.img{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
}