
@media screen and (min-width: 769px) and (max-width: 992px) {
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    #tel{display: none;}
    #tab{display: block;}
    #desk{display: none;}
    #large{display: none;}
    #imp{display: none;}
}
@media screen and (min-width: 993px) and (max-width: 1200px){
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    #tel{display: none;}
    #tab{display: none;}
    #desk{display: block;}
    #large{display: none;}
    #imp{display: none;}
}

@media screen and (min-width: 1201px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    #tel{display: none;}
    #tab{display: none;}
    #desk{display: none;}
    #large{display: block;}
    #imp{display: none;}
}
@media print{
    body{
        background-image: url(../imagens/back-print.jpg);
        font-family: 'Courier New', Courier, monospace;
    }
    main{
        border: 2px solid black;
        border-radius: 10px;
    }
    main::after{
        content: 'Arquivo imprimido em 07 de Janeiro, 2024';
    }
    #tel{display: none;}
    #tab{display: none;}
    #desk{display: none;}
    #large{display: none;}
    #imp{display: block;}
}